<!--
  Generated template for the ExerciseDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{name_exercises}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card >
        <ion-card-content style="display: block" >

        
          <img src="{{imgURL}}">

          <h1 *ngIf="description">Description</h1>
          <div [innerHTML]="description"></div>

          <h1 *ngIf="musclesName">Muscles</h1>
          <p>{{musclesName}}</p>

          <h1 *ngIf="equipmentName" >Equipment</h1>
          <p>{{equipmentName}}</p>

        </ion-card-content>
      </ion-card>
</ion-content>
